<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item">
                <a class="<%=path==='/' ?'active':''%>" href="/">Home</a>
            </li>
            <li class="main-header_item">
                <a class="<%=path==='/user/add-issue' ? 'active':'' %> "href="/user/add-issue">Create issue</a>
            </li>
        </ul>
    </nav>
</header>